.menu-item-description {
  margin: 0;
}
.menuItemDiet {
  display: flex;
  margin: 0;
  padding: 0;
}
.menuItemDiet li {
  margin-left: 10px;
  list-style-type: none;
}
.menuItemDiet li:first-child {
  margin-left: 15px;
}
.menuItemHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.menuItemPrice {
  margin-left: 15px;
  font-size: 18px;
}
.menuItemTitle {
  margin: 0;
  font-size: 20px;
}

.dishPhoto {
  width: 40%;
}
