.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  list-style-type: none;
  border-top: 1px solid #222;
}
.nav-item:last-child {
  border-bottom: 1px solid #222;
}
.navItemLink {
  display: grid;
  justify-items: center;
  grid-template-rows: 40px auto;
  grid-row-gap: 5px;
  font-weight: bold;
  text-decoration: none;
  color: #222;
}
